 <!-- Vista para mostrar un solo producto -->
<div>
    <h1>Detalles del Producto</h1>
    <ul>
        <li>
            <h2>{{product.nombre}}</h2>
            <p><strong>Precio:</strong> ${{product.precio}}</p>
            <p><strong>Descripción:</strong> {{product.descripcion}}</p>
            <p><strong>Categoría:</strong> {{product.category}}</p>
            <p><strong>Stock disponible:</strong> {{product.stock}}</p>
        </li>
    </ul>
</div>